<!DOCTYPE html>
<html>
<body>
<h1>Editing Company</h1>
<form>
  Company name:
  <input type="text" name="@company.company_name" value= @company.company_name><br>
  rif:
  <input type="text" name="@company.rif"><br>
  status:
  <input type="text" name="@company.status"><br>
  type_company:
  <input type="text" name="@company.type_company"><br>
</form>

<!-- <p>Note that the form itself is not visible.</p>

<p>Also note that the default width of a text input field is 20 characters.</p>

<%= link_to 'Show', @company %> |
<%= link_to 'Back', companies_path %> -->
</body>
</html>